@font-face {
    font-family: "Nordique Pro Bold";
    src: url("NordiquePro-fonts/fonnts.com-Nordique_Pro_Bold.ttf") format("ttf");
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Nordique Pro Bold", sans-serif;
}

:root 
{
    --bg-color: #191970;
    --second-bg-color: #0047ab;
    --text-color: #fff;
    --main-color: #36454f;
}


html
{
    
    font-size: 62.5%;
    overflow-x: hidden;
}

body
{
    background: var(--bg-color);
    color: var(--text-color);
}

.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
